
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fa fa-star custom-font-family"></span> <span>WOODMART</span></h2>
        </div>
        <!--Secciones-del-tablero-->
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" >

                        <a routerLink="/" routerLinkActive="active">  <span class="fa fa-home custom-font-family"></span><span>Dashboard</span></a>
                        </a>
                </li>
                <li>
                    <a href="">
                        <a routerLink="/CategoryComponent" routerLinkActive="active"><span class="fa fa-user custom-font-family"></span> <span>Category</span></a>
                    </a>
                </li>
                <li>
                    <a href="">
                        <a routerLink="/ListingComponent" routerLinkActive="active"> <span class="fa fa-list custom-font-family" ></span> <span>Listing</span></a>
                        </a>
                        </li>

            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="fa fa-bars custom-font-family"></span>
                </label>
            </h2>

 
            <div class="user-wrapper">
                <img src="../../../assets/img/Avatar.png" width="40px" height="40px" alt="">
                <div>
                    <h4>Ecommerce</h4>
                    <small>Shopping Site</small>
                </div>
            </div>
        </header>

    </div>

