/* You can add global styles to this file, and also import other style files */

.custom-font-family {
    font-family: FontAwesome !important;
    font-size: x-large !important;
    margin: 10px 2px !important;
}