<app-sidebar></app-sidebar>
   
        
 

    <div class="main-content">
        

        <main>
            <div class="cards">

                <div class="card-single">

                </div>

                <div class="card-single">

                </div>

                <div class="card-single">

                </div>

                <div class="card-single">

                </div>
            </div>
            <!--Tebal-->
            <div class="recent-grid">
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h3>Category</h3>
                            <div class="search-wrapper">
                                <span class="fa fa-search custom-font-family"></span>
                                <input type="search" placeholder="Search here..." />
                            </div>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Add category 
                            </button>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td><input type="radio"></td>
                                            <td>Name</td>
                                            <td>Products</td>
                                            <td>Date</td>
                                            <td>Status</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Category of categories">
                                            <td><input type="radio"></td>
                                            <td>{{Category.name}}</td>
                                            <td>{{Category.product}}</td>
                                            <td>20/02/22</td>
                                            <td><select name="" id="">
                                                <option value="">
                                                    <input type="radio" id="huey" name="drone" value="huey"
                                                checked>
                                                <label for="huey">Active</label>
                                                </option>
                                                <option value="">
                                                    <input type="radio" id="dewey" name="drone" value="dewey">
                                                    <label for="dewey">Inactive</label>
                                                </option>
                                            </select>
                                            </td>
                                            <td>
                                                <div><i class='fa fa-edit custom-font-family'></i></div>
                                                <div><i class='fa fa-eraser custom-font-family'></i></div>
                                             </td>                   
                                        </tr>                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog x">
                              <div class="modal-content">
                                <div class="modal-header">
                                 
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">               
                                      <form  #userForm="ngForm" (ngSubmit)="onAddCat(userForm.value)">
                                        <div class="row">
                                      <div class="col-md-6">
                                          <label for="inputClass" class="form-label">Category</label>
                                          <input type="text"class="form-control" name="name" ngModel required>
                                        </div>
                                        <div class="col-md-6">
                                          <button type="submit"data-bs-dismiss="modal" aria-label="Close" class="btn btn-primary catbtn" >Save changes</button>
                                        </div>
                                      </div>
                                    </form>
                                    </div>         
                              </div>
                            </div>
                          </div> 
                          <!-- modal end -->
                    </div>
                </div>

            </div>
          
        </main>

    </div>

